html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  overflow-y: scroll; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  color: #222221; }
a:hover {
  color: #444444; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.float-r {
  float: right; }

.float-l {
  float: left; }

.invisible {
  visibility: hidden; }

.hide, .hidden {
  display: none !important; }

.FIXME {
  border-bottom: dotted red 2px !important; }

body {
  padding: 40px;
  font-family: georgia;
  font-style: italic;
  background: #333333;
  width: 980px;
  margin: 0 auto; }

.info-tip {
  position: absolute;
  right: -220px;
  top: -10px;
  z-index: 999;
  font-size: 0.9em; }
  .info-tip span {
    background: #d8fbff;
    border: 1px solid #b6d9dd;
    color: #597f83;
    padding: 8px 8px 8px 12px;
    font-style: italic;
    position: relative;
    line-height: 130%; }
  .info-tip:before {
    left: -11px;
    border-width: 6px 12px 6px 0;
    border-color: transparent #b6d9dd;
    background-color: transparent;
    position: absolute;
    border-style: solid;
    content: "";
    top: 3px;
    display: block;
    width: 0;
    z-index: 9999; }
  .info-tip:after {
    left: -9px;
    border-width: 6px 12px 6px 0;
    border-color: transparent #d8fbff;
    background-color: transparent;
    position: absolute;
    border-style: solid;
    content: "";
    top: 3px;
    display: block;
    width: 0;
    z-index: 99999; }

.default, h1, #count-down .timer {
  font-family: helvetica;
  font-style: normal; }

h2 {
  font-size: 1.8em;
  margin-bottom: 10px; }

p, label, input {
  font-size: 1.5em; }

.button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999999;
  -webkit-box-shadow: 0 1px 3px #999999;
  text-shadow: 0 -1px 1px #222222;
  border-bottom: 1px solid #222222;
  position: relative;
  cursor: pointer;
  background: red url(http://www.zurb.com/images/alert-overlay.png) repeat-x;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .button:hover {
    background-color: #323232; }
  .button:active {
    background-color: red; }

#banner {
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
  color: white;
  line-height: 125%; }
  #banner span {
    display: block; }

h1 {
  display: inline; }

.horizontal-list, #game-setup {
  width: 980px;
  overflow: hidden; }
  .horizontal-list li, #game-setup li {
    float: left;
    border-left: 1px solid #333333;
    width: 250px;
    padding: 35px 10px 20px 40px;
    margin-left: -1px; }

.section, #game-setup2, #player-details, #game-zone {
  margin-bottom: 50px;
  background: #ebebeb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 10px 38px 35px; }
  .section header, #game-setup2 header, #player-details header, #game-zone header {
    position: relative; }

#game-setup2 {
  padding: 30px 10px 38px 45px;
  overflow: hidden; }
  #game-setup2 .details {
    float: right;
    margin-right: 20px; }
  #game-setup2 label {
    display: block;
    margin-bottom: 10px; }
  #game-setup2 input {
    float: left; }
    #game-setup2 input[type=text] {
      padding: 3px;
      width: 200px; }
    #game-setup2 input[type=button] {
      margin-left: 10px; }

#player-details {
  float: left;
  width: 240px; }

#game-zone {
  float: left;
  width: 625px;
  position: relative;
  margin: 0 0 0 25px; }
  #game-zone header {
    margin-bottom: 20px;
    overflow: hidden; }

#country-list ul {
  clear: both;
  margin-left: -20px; }

.country {
  width: 200px;
  background: white;
  height: 250px;
  margin: 0 0 10px 10px;
  float: left;
  position: relative; }
  .country input {
    position: absolute;
    bottom: 10px;
    left: 40px;
    text-align: center; }

#current-item {
  float: left;
  margin-right: 50px; }

#count-down {
  width: 120px;
  float: right; }
  #count-down .timer {
    font-size: 3.8em;
    text-align: center;
    font-weight: bold; }

.johanna-does-not-like-2-players #game-setup {
  display: none; }
  .johanna-does-not-like-2-players #game-setup li:nth-child(2n) {
    display: none; }
.johanna-does-not-like-2-players #country-list button:active {
  top: auto;
  font-size: 1.4em; }
