@import components/reset
@import components/mixins
@import components/helpers

body
  padding: 0 40px 40px
  font-family: georgia
  font-style: italic
  background: #d00000
  width: 980px
  margin: 0 auto

header
  h2
    margin-bottom: 0
  h2,p
    line-height: 130%

.info-tip 
  position: absolute
  right: -70px
  z-index: 999
  font-size: 0.9em
  span
    background: #d8fbff
    border: 1px solid #b6d9dd
    color: #597f83
    padding: 8px 8px 8px 12px
    //@extend .default
    font-style: italic
    position: relative
    line-height: 130%
  &:before
    left: -11px
    border-width: 6px 12px 6px 0
    border-color: transparent #b6d9dd
    background-color: transparent
    position: absolute
    border-style: solid
    content: ""
    top: 3px
    display: block
    width: 0
    z-index: 9999
  &:after
    left: -9px
    border-width: 6px 12px 6px 0
    border-color: transparent #D8FBFF
    background-color: transparent
    position: absolute
    border-style: solid 
    content: ""
    top: 3px
    display: block
    width: 0
    z-index: 99999
    

  

.default
  font-family: helvetica
  font-style: normal  

h1
  @extend .default
  
h2
  font-size: 1.8em
  margin-bottom: 10px

p,label, input
  font-size: 1.5em

.button
  +rounded-corners(10px)
  border: 1px solid #333
  display: inline-block
  padding: 5px 10px 6px
  color: #fff
  text-decoration: none
  font-weight: bold
  line-height: 1
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -moz-box-shadow: 0 1px 3px #999
  -webkit-box-shadow: 0 1px 3px #999
  text-shadow: 0 -1px 1px #222
  border-bottom: 1px solid #222
  position: relative
  cursor: pointer
  background: #ff0000 url(http://www.zurb.com/images/alert-overlay.png) repeat-x
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25)
  border-bottom: 1px solid rgba(0,0,0,0.25)
  &:hover
    background-color: #323232 
  &:active
    background-color: red

#banner
  overflow: hidden
  text-indent: -9999em
  background: transparent url(/images/logo.png) no-repeat center -4px
  height: 268px
  margin-bottom: 30px
  font-size: 2.0em
  text-align: left
  color: #fff
  line-height: 125%
  span
    display: block
h1
  display: inline

.horizontal-list
  width: 980px
  //border: #ff0000 2px solid 
  //@extend .clearfix
  overflow: hidden  
  li
    float: left
    border-left: 1px solid #333
    width: 250px
    padding: 35px 10px 20px 40px
    margin-left: -1px

.section    
  margin-bottom: 50px
  background: #EBEBEB
  +rounded-corners(10px)
  padding: 30px 10px 38px 35px
  header
    position: relative
    
#game-setup
  @extend .horizontal-list

#game-setup2
  //margin-left: 10%
  //margin-right: 10%
  @extend .section
  padding: 30px 10px 38px 45px
  overflow: hidden
  .details
    float: right
    margin-right: 20px
  label
    display: block
    margin-bottom: 10px
  input
    float: left
    &[type=text]
      padding: 3px
      width: 200px 
    &[type=button]
      margin-left: 10px
    
    

#player-details
  float: left
  width: 240px
  position: relative
  @extend .section
  .info-tip
    bottom: 40px
#game-zone
  float: left
  @extend .section
  width: 625px
  position: relative
  margin: 0 0 0 25px
  header
    margin-bottom: 40px
    overflow: hidden
#country-list
  h2
    margin-bottom: 10px
  ul
    clear: both
    margin-left: -20px
  
.country
  width: 200px
  background: #fff
  margin: 0 0 10px 10px 
  float: left
  position: relative
  input
    margin: 188px auto 0
    text-align: center
    width: 200px
    
#current-item
  float: left
  margin-right: 50px
  position: relative
  .info-tip
    bottom: 20px
    width: 560px
    right: -570px
#count-down
  width: 120px
  float: right
  
  .timer
    line-height: 100%
    font-size: 3.4em
    text-align: center
    @extend .default
    font-weight: bold

.johanna-does-not-like-2-players
  #game-setup
    display: none    
    li:nth-child(2n)
      display: none
  #country-list button:active
    top: auto
    
    font-size: 1.4em
  
#country-list
  li
    background-color: transparent
    background-position: center center
    background-repeat: no-repeat
  
  li[data-country="Ivory Coast"]
    background-image: url(/images/ivorycoast.png)
  li[data-country="Myanmar"]
    background-image: url(/images/myanmar.png)
  li[data-country="Iran"]
    background-image: url(/images/iran.png)
  li[data-country="Sudan"]
    background-image: url(/images/sudan.png)

  li[data-country="Somalia"]
    background-image: url(/images/somalia.png)
  li[data-country="Egypt"]
    background-image: url(/images/egypt.png)
  li[data-country="Guinea"]
    background-image: url(/images/guinea.png)
  li[data-country="Libya"]
    background-image: url(/images/libya.png)
  li[data-country="North Korea"]
    background-image: url(/images/northkorea.png)
  li[data-country="Zimbabwe"]
    background-image: url(/images/zimbabwe.png)
  li[data-country="Chile"]
    background-image: url(/images/chile.png)
  li[data-country="Romania"]
    background-image: url(/images/romania.png)
  li[data-country="Andorra"]
    background-image: url(/images/andorra.png)
  li[data-country="Australia"]
    background-image: url(/images/australia.png)
  li[data-country="Austria"]
    background-image: url(/images/austria.png)
  li[data-country="Netherlands"]
    background-image: url(/images/netherlands.png)



#end-screen
  background-color
  @extend .section 
  overflow: hidden
  float: left
  width: 940px
  #play-again
    margin: 20px 0 0  120px
  #congrats, #play-again
    float: left
  div
    margin-bottom: 50px
  #info-graph
    clear: both
    p
      @extend .default
      font-size: 1em
      width: 520px
      line-height: 130%
    
    img
      border: 1px solid #ddd
      margin: 30px auto 0
      width: 642px
      display: block


